<a href="/version_tags">
  {{d-icon "chevron-left"}}
  <span>{{i18n "version_tagging.groups.back_btn"}}</span>
</a>

<div class="container tag-groups-container">
  <h2>{{i18n "version_tagging.groups.title"}}</h2>

  {{#if this.siteSettings.tagging_enabled}}
    <div class="tag-groups-sidebar content-list">
      {{#if this.model}}
        <ul>
          {{#each this.model as |tagGroup|}}
            <li>
              <LinkTo @route="versionTagGroups.edit" @model={{tagGroup}}>
                {{tagGroup.name}}
              </LinkTo>
            </li>
          {{/each}}
        </ul>
      {{/if}}

      <DButton
        @action={{action "newTagGroup"}}
        @icon="plus"
        @label="tagging.groups.new"
        class="btn-default"
      />
    </div>

    {{outlet}}
  {{else}}
    <div class="tag-group-content">
      <div class="alert info">{{i18n "tagging.groups.disabled"}}</div>
    </div>
  {{/if}}
</div>