<div class="custom-tag-container">
  <MiniTagChooserVersion
    @class="category-input"
    @value={{composer.version_tags}}
    @onChange={{action (mut composer.version_tags)}}
    @options={{hash
      categoryId=composer.categoryId
      minimum=composer.minimumRequiredTags
    }}
  />
  <MiniTagChooserNode
    @value={{composer.node_tags}}
    @onChange={{action (mut composer.node_tags)}}
    @options={{hash
      categoryId=composer.categoryId
      minimum=composer.minimumRequiredTags
    }}
  />
</div>